# Directorios de compilación y dependencias
.gradle/
.idea
.idea/workspace.xml
.idea/misc.xml
.idea/libraries/

# Archivos de configuración del usuario
/local.properties

# Archivos de caché
/.cxx/
/.externalNativeBuild/
/captures/
/output.json

# Configuración específica del IDE
/.idea/modules.xml
/.idea/caches/
/.idea/inspectionProfiles/
